.hide-scrollbar .react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar .react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar .react-horizontal-scrolling-menu--scroll-container {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scroll-h-12 .react-horizontal-scrolling-menu--wrapper {
    height: 3rem /* 48px */;
}